<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head> -->
<body>
    <% layout("/layouts/boilerplate")%>
  
    <br/><br/>
    <div class="row mt-3">
       
        <div class="col-8 offset-2">
            <h3>
                Create a new listing
            </h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required/>
            <div class="valid-feedback">
                Title Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter the valid title.
              </div>
        </div>
        
        <!-- <br /><br /> -->
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
            <div class="invalid-feedback">
                Please enter the short Description.
              </div>
        </div>
        
        <!-- <br /><br /> -->
        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input name="listing[image]" placeholder="enter image URL/LINK" type="text" class="form-control">

        </div> -->

        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image </label>
            <input name="listing[image]"  type="file" class="form-control" required />

        </div>
        <!-- <br /><br /> -->

        <div class="row">

        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="enter price"  class="form-control" required>
            <div class="invalid-feedback">
                Please enter the valid price.
              </div>
        </div>
       
        <!-- <br /><br /> -->
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required >
            <div class="invalid-feedback">
                Please enter the valid country name.
              </div>
        </div>
    </div>
        <!-- <br /><br /> -->
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required>
            <div class="invalid-feedback">
                Please enter the valid location.
              </div>

        </div>
       
        <br /><br />
        <button class="btn btn-dark add-btn">ADD</button>
    


    </form>
</div>
</div>
</body>
<!-- </html> -->